form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}
label, input {
    margin: 10px 0;
}
button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}